<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>s2008156 Cloud Computing A3 2024 SP1</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}" 
    />
  </head>
  <body>
    <div id="mainContainer">
      <nav>
        <div id="banner">
          <img src="{{ navBanner }}" />
        </div>
        <div class="navbar">
          <div class="dropdown">
            <button class="dropbtn">Admin ▼</button>
            <div class="dropdown-content">
              <a href="{{ url_for('admin') }}">Staff Management</a>
              {% if session['staffLevel'] == "1" %}
              <a href="{{ url_for('stock') }}">Stock</a>
              <a href="#records">Records</a>
              {% endif %}
            </div>
          </div>

          <a href="{{ url_for('logout') }}">Logout</a>
        </div>
      </nav>
      <div class="headerBanner">
        <h1>Salesperson: {{ loggedUser }}</h1>
      </div>
      <div id="mainContent">
        <div class="mainSection">
          <div id="searchByPLU">
            <form action="{{ url_for('viewCart') }}" method="POST">
              <label for="PLUsearch">PLU/Barcode:</label>
              <input
                type="text"
                id="PLUsearch"
                name="PLUsearch"
                placeholder="Barcode Search"
              />
            </form>
          </div>
          <div id="searchByName">
            <form action="" method="post">
              <label for="nameSearch">Name Search:</label>
              <input
                type="text"
                id="nameSearch"
                name="nameSearch"
                placeholder="Partial Name Search"
              />
              <button type="submit">Search</button>
            </form>
          </div>
          <div id="transactionNum">
            <h3>Transaction: {{ session['transID'] }}</h3>
          </div>
          <div id="errorBanner">
            {% if error %}
            <h3>{{ error }}</h3>
            {% endif %}
          </div>
        </div>
        <div id="cartContent">
          <table id="mainTable">
            <tr>
              <th></th>
              <th>Code</th>
              <th>Description</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Line Total</th>
              <th></th>
            </tr>
            {% for item in cart %}
            <form action="{{url_for('removeCartItem')}}" method="POST">
              <input type="hidden" name="index" value="{{ loop.index }}" />
              <tr id="row{{ loop.index }}">
                <td id="rowImg"><img src="https://d1yd7dukro94c1.cloudfront.net/{{item.product.SKU}}.png"/></td>
                <td>{{ item.product.PLU }}</td>
                <td>{{ item.product.description }}</td>
                <td>{{ item.product.price }}</td>
                <td>
                  <input
                    type="number"
                    id="lineQty{{ loop.index }}"
                    name="lineQty"
                    value="{{ item.qty }}"
                    step="1"
                    productLine="{{ loop.index }}"
                    onchange="updateQuantity(this)"
                  />
                </td>
                <td id="lineTotal{{ loop.index }}">{{ item.linetotal }}</td>
                <td><button type="submit">Delete</button></td>
              </tr>
            </form>
            {% endfor %}
          </table>
        </div>
      </div>
      <div id="totalsBanner">
        <form id="totalsForm" action="{{ url_for('checkout') }}" method="POST">
          <label id="totalLabel" for="total"> TOTAL: $</label>
          <input
            id="cartTotal"
            name="cartTotal"
            value="{{ cartTotal }}"
            readonly
          />
          <button id="totalBtn" type="submit" name="checkOutBtn" >
            >>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
