<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>s2008156 Cloud Computing A3 2024 SP1</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!--<link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}" 
    />-->
    <link
      type="text/css"
      rel="stylesheet"
      href="../static/styles.css " 
    />
  </head>
  <body>
    <div id="mainContainer">
      <nav>
        <div id="banner">
          <img src="{{ navBanner }}" />
        </div>
        <div class="navbar">
          <div class="dropdown">
            <button class="dropbtn">Admin ▼</button>
            <div class="dropdown-content">
              <a href="{{ url_for('admin') }}">Staff Management</a>
              {% if staffLevel == "1" %}
              <a href="{{ url_for('stock') }}">Stock</a>
              <a href="#records">Records</a>
              {% endif %}
            </div>
          </div>
          
          <a href="{{ url_for('login') }}">Logout</a>
        </div>
      </nav>
      <div class="headerBanner">
        <h1>Salesperson: {{ loggedUser }}</h1>
      </div>
      <div id="mainContent">
        <div class="mainSection">
          <div id="searchByPLU">
            <form action="{{ url_for('viewCart') }}" method="POST">
              <label for="PLUsearch">PLU/Barcode:</label>
              <input type="text" id="PLUsearch" name="PLUsearch" placeholder="Barcode Search"/>
            </form>
          </div>
          <div id="searchByName">
            <form action="" method="post">
              <label for="nameSearch">Name Search:</label>
              <input type="text" id="nameSearch" name="nameSearch" placeholder="Partial Name Search"/>
              <button type="submit">Search</button>
            </form>
          </div>
          <div id="transactionNum">
            <h3>Transaction: {{ transaction }}</h3>
          </div>
          <div id="errorBanner">
            {% if error %}
            <h3>{{ error }}</h3>
            {% endif %}
          </div>
        </div>
        <div id="cartContent">
          <table id="mainTable">
            <tr>
              <th>L:</th>
              <th>Code</th>
              <th>Description</th>
              <th>Price</th>
              <th>Qty</th>
              <th>Line Total</th>
              <th></th>
            </tr>
            {% for item in cart %}
            <form action="{{ url_for('removeFromCart') }}" method="POST">
            <tr>
              
              <td>{{ loop.index }}</td>
              <td>{{ item.item.PLU }}</td>
              <td>{{ item.item.description }}</td>
              <td>{{ item.item.price }}</td>
              <td><input type="number" id="lineQty" name="lineQty" value="{{ item.qty }}" step="1"/></td>
              <td></td>
              <td><Button type="submit">Delete</button>
            </tr>

            {% endfor %}
          </table>
        </div>
        <div id="totalsBanner"></div>
      </div>
    </div>
  </body>
</html>
