<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>s2008156 Cloud Computing A3 2024 SP1</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!--<link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />-->
    <link type="text/css" rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div id="adminContainer">
      <nav>
        <div id="banner">
          <img src="{{ navBanner }}" />
        </div>
        <div class="navbar">
          <div class="dropdown">
            <button class="dropbtn">Admin ▼</button>
            <div class="dropdown-content">
              <a href="{{ url_for('admin') }}">Staff Management</a>
              {% if staffLevel == "1" %}
              <a href="{{ url_for('stock') }}">Stock</a>
              <a href="#records">Records</a>
              {% endif %}
            </div>
          </div>

          <a href="{{ url_for('main') }}">Return to Sales Screen</a>
        </div>
      </nav>
      <div class="headerBanner">
        <h1>STOCK CONSOLE</h1>
      </div>
      <div class="addEditContainer">
        <form
          class="stockForm"
          action="{{ url_for('addStockItem') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="formGroup">
            <h2>ADD STOCK</h2>
          </div>
          <div class="stockTemplate">
            <div class="stockSKUImg"></div>
            <div class="stockSKUCategory">
              <div class="form-check">Category</div>
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="radio1"
                  name="stockSKUClass"
                  value="L"
                  required
                />
                <label class="form-check-label" for="radio1">Liquor</label>
              </div>
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="radio2"
                  name="stockSKUClass"
                  value="S"
                />
                <label class="form-check-label" for="radio2">Snacks</label>
              </div>
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="radio3"
                  name="stockSKUClass"
                  value="T"
                />
                <label class="form-check-label" for="radio2">Tobacco</label>
              </div>
            </div>
            <div class="stockDesc">
              <input
                type="text"
                class="stock"
                name="stockDesc"
                placeholder="SKU Description"
                required
              />
            </div>
            <div class="stockPriceSingle">
              <label for="stockPriceSingle" class="stockLabel"
                >Single ($):</label
              >
              <input
                type="number"
                id="stockPrice"
                name="stockPriceSingle"
                placeholder="Price"
                step="0.01"
                required
              />
            </div>
            <div class="stockPLUSingle">
              <input
                type="text"
                class="stockPLU"
                name="stockPLUSingle"
                placeholder="Single Barcode"
                required
              />
            </div>
            <div class="stockPriceMulti">
              <input
                type="number"
                id="stockMultiValue"
                name="stockMultiValue"
                step="1"
                value=""
              />
              <label for="stockPriceMulti" class="stockLabel">Pack ($):</label>
              <input
                type="number"
                id="stockPrice"
                name="stockPriceMulti"
                placeholder="Price"
                step="0.1"
                value=""
              />
            </div>
            <div class="stockPLUMulti">
              <input
                type="text"
                class="stockPLU"
                name="stockPLUMulti"
                placeholder="Multipack Barcode"
                value=""
              />
            </div>

            <div class="stockPriceCase">
              <label for="stockPriceCase" class="stockLabel">Case ($):</label>
              <input
                type="number"
                id="stockPrice"
                name="stockPriceCase"
                placeholder="Price"
                step="0.1"
                required
              />
            </div>
            <div class="stockPLUCase">
              <input
                type="text"
                class="stockPLU"
                name="stockPLUCase"
                placeholder="Case Barcode"
                required
              />
            </div>
            <div class="stockSKUImgAdd">
              <input
                type="file"
                id="stockImgSelect"
                accept="image/png, image/jpeg"
                name="stockSKUImage"
              />
            </div>

            <div class="stockAddBtn">
              <button type="submit">ADD PRODUCT</button>
            </div>
          </div>
        </form>
        <div class="formGroup">
          {% if message %}
          <p style="color: red">{{ message }}</p>
          {% endif %}
        </div>
        <div class="formGroup">
          <h2>SEARCH STOCK</h2>
        </div>
        <form
          class="searchProduct"
          action="{{ url_for('searchProduct')}} "
          method="POST"
        >
          <div class="searchContainer">
            <div class="searchRadio">
              <div>
                <input
                  type="radio"
                  class="form-check-input"
                  id="radio1"
                  name="searchPLUSKU"
                  value="PLU"
                  required
                />
                <label class="form-check-label" for="radio1">PLU</label>
              </div>
              <div>
                <input
                  type="radio"
                  class="form-check-input"
                  id="radio1"
                  name="searchPLUSKU"
                  value="SKU"
                />
                <label class="form-check-label" for="radio2">SKU</label>
              </div>
            </div>
            <div class="searchDesc">
              <input
                type="text"
                name="searchDesc"
                placeholder="Part of Product Name"
              />
            </div>
            <div class="searchCode">
              <input
                type="text"
                name="searchCode"
                placeholder="Product barcode"
              />
            </div>
            <div class="searchBtn1">
              <button type="submit" name="searchBtn" value="searchDesc">
                Search By Name
              </button>
            </div>
            <div class="searchBtn2">
              <button type="submit" name="searchBtn" value="searchCode">
                Search By Barcode
              </button>
            </div>
          </div>
        </form>
        <div class="formGroup">
          <h2>SEARCH RESULTS</h2>
        </div>
        <div class="searchContainer2">
          {% if products %}
          <table class="searchTable">
            <tr>
              <th>PLU Code</th>
              <th>Description</th>
              <th>Price ($)</th>
              <th></th>
            </tr>
            
            {% for product in products %}
            <tr>
              <td class="resulttd">
                <input
                  type="text"
                  name="PLU"
                  value="{{ product.PLU }} "
                  readonly
                />
              </td>
              <td class="resulttd">
                <input
                  id="resultdesc"
                  type="text"
                  name="description"
                  value="{{ product.description }} "
                />
              </td>
              <td class="resulttd">
                <input
                  id="resultprice"
                  type="number"
                  name="price"
                  value="{{ product.price }}"
                  step="0.1"
                />
              </td>
              <td>
                <button class="productEditDel" type="submit" name="Btn" value="edit"> Edit</button>
                <button class="productEditDel" type="submit" name="Btn" value="delete"> Delete</button>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
